@import "./components/functions";
@import "./components/colorVars";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $bg-color;
}

.musicContainer{
    width: rem(250px);
    height: rem(430px);
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 8px 8px 5px 2px $card-shadow;
    transition: transform 0.3s ease-in-out;
}

.musicContainer:hover {
    transform: scale(1.02);
}

.cardImg{
    margin-top: rem(20px);
    width: rem(180px);
    height: rem(180px);
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid $image-border;
    transition: transform 0.5s ease-in-out;
}

.cardImg:hover{
    transform: rotate(360deg);
}

.title{
    margin-top: rem(40px);
    font-size: rem(30px);
}

.artist{
    margin-top: rem(5px);
    font-size: rem(16px);
    color: $artist-color;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.playBtn{
    margin-top: rem(20px);
    padding: rem(15px) rem(15px);
    width: rem(50px);
    height: rem(50px);
    background-color: $primary-color;
    color: $white-color;
    border: none;
    cursor: pointer;
    font-size: rem(18px);
    border-radius: 50%;
    text-align: center;
    position: absolute;
    z-index: 10;
}

.prevBtn{
    margin-top: rem(20px);
    background-color: transparent;
    padding: rem(2px) rem(40px) rem(2px) rem(15px);
    color: $gray-color;
    border: none;
    cursor: pointer;
    font-size: rem(14px);
    border-radius: 10px;
    text-align: center;
    border: 1px solid $gray-color;
}

.nextBtn{
    margin-top: rem(20px);
    background-color: transparent;
    padding: rem(2px) rem(15px) rem(2px) rem(40px);
    color: $gray-color;
    border: none;
    cursor: pointer;
    font-size: rem(14px);
    border-radius: 10px;
    border: 1px solid $gray-color;
}

.shuffleBtn{
    margin-top: rem(20px);
    background-color: transparent;
    padding: rem(2px) rem(10px) rem(2px) rem(10px);
    color: $gray-color;
    border: none;
    cursor: pointer;
    font-size: rem(18px);
    border-radius: 10px;
    margin-right: rem(10px);
}

.repeatBtn{
    margin-top: rem(20px);
    background-color: transparent;
    padding: rem(2px) rem(10px) rem(2px) rem(10px);
    color: $gray-color;
    border: none;
    cursor: pointer;
    font-size: rem(18px);
    border-radius: 10px;
    margin-left: rem(10px);
}

.progressContainer {
    width: 90%;
    background-color: $white-color;
    border: rem(1px) solid $gray-color;
    border-radius: rem(5px);
    overflow: hidden;
    margin-top: rem(4px);
    margin-bottom: rem(4px);
}

.progressBar {
    width: 0%;
    height: rem(5px);
    background-color: $primary-color;
    border-radius: rem(5px);
}

.progressData {
    width: 90%;
    margin-top: rem(30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progressStart,
.progressEnd {
    font-size: rem(14px);
    color: $black-color; 
}

.progressStart {
    margin-right: auto;
}

.progressEnd {
    margin-left: auto;
}

.active{
    color: $primary-color;
}